.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  /* Use hardware acceleration for smoother performance */
  will-change: opacity;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  pointer-events: none;
}
